* {
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif
}

:root {
    --light-neutral-color: #EEE;
    --medium-neutral-color: #DDD;
    --dark-neutral-color: #CCC;
    --strong-color: #48F;
    --light-color: #BDF;
    --accent-color: #FA0;
}

.main-container {
    display: grid;
    grid-template-columns: minmax(350px, 1fr) 3fr;
    grid-template-rows: 1fr 6fr;
    height: 100vh;
}

.header {
    grid-column: 1 / 3;
    background-color: var(--light-color);
    display: flex;
    align-items: center;
}

.header h1 {
    font-size: 3rem;
    margin-left: 10px;
}

.nav-items {
    display: flex;
    justify-content: flex-end;
    width: calc(5/6*100%);
}

.header ul {
    display: flex;
    justify-content: space-between;
    width: 50%;
    padding: 10px;
    margin: 10px;
}

.sidebar {
    grid-row: 2 / 3;
    background-color: var(--medium-neutral-color);
}

#books-grid {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    background-color: var(--light-neutral-color);
    display: inline-grid;
    grid-template-columns: repeat(4, auto);
    grid-auto-rows: max-content;
    gap: 20px;
    padding: 20px;
}

.book-card {
    background-color: var(--light-color);
    border-radius: 10px;
    box-shadow: 1x 1px 2px grey;
    padding: 10px;
    line-height: 1.5rem;
    width: auto;
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 1.2rem;
}

.sidebar {
    display: flex;
    flex-direction: column;
    gap: 5%;
    align-items: center;
    padding: 10px;
    text-align: center;
    font-size: 1.2rem;
}

#btn-add-book {
    padding: 1rem 3rem;
}

#form-add-book {
    width: 100%;
    border: none;
    box-shadow: 1px 1px 2px grey;
    border-radius: 5px;
    padding: 5px;
    background-color: var(--light-color)
}

#form-add-book li {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding: 5px 0;
}

#form-add-book li input {
    width: 50%;
    border-radius: 5px;
    border: 1px solid grey;
    font-size: 1.2rem;
}

#form-add-book li input[type='checkbox'] {
    transform: scale(1.5);
}

button {
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: var(--accent-color);
    box-shadow: 1px 1px 2px grey;
    font-size: 1.2rem;
}

.hidden {
    visibility: hidden;
}

.active {
    visibility: visible;
}